* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Steppe-Book";
  src: url("./assets/fonts/Steppe-Book.ttf");
}

@font-face {
  font-family: "Steppe-ExtraBold";
  src: url("./assets/fonts/Steppe-ExtraBold.ttf");
}

body {
  background-color: #5243f4;
  font-family: "Steppe-Book", sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: white;
  border-radius: 60px;
  width: 178px;
  height: 58px;
  box-sizing: border-box;
  padding: 18px;
  text-align: center;
  font-size: 18px;
  color: #5243f4;
  border: 0;
  outline: none;
  cursor: pointer;
}

.violet_button {
  background-color: #5243f4;
  color: white;
}

.button:hover {
  background-color: #eeeeee;
}

.button.violet_button:hover {
  background-color: #3b2cd8;
}

.common_title {
  font-family: "Steppe-ExtraBold", sans-serif;
  font-size: 60px;
  line-height: 100%;
  text-align: center;
}
